obj/*

!obj/pin
obj/pin/*
!obj/pin/.gitkeep

!obj/pin_wrapper
obj/pin_wrapper/*
!obj/pin_wrapper/.gitkeep

!obj/sim
obj/sim/*
!obj/sim/.gitkeep
!obj/sim/Graphite
obj/sim/Graphite/*
!obj/sim/Graphite/.gitkeep
output/*
bin/*
cmd/*
batch/*
